# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
.env

# AWS
.aws-sam/
samconfig.toml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Misc
*.log
.DS_Store
